{% extends 'posts/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
        <li class="card">
            <!-- Photo -->
            <div class="cover">
            </div>
            <!-- Text content -->
            <div class="text-content">
                <h3>{{ post.title }}</h3>
                <p>
                    {{ post.content }}
                </p>
                <span>{{ post.author }}</span>
                <div class="btn-group">
                  <a class="delete_btn" href="{% url 'posts:delete_post' post.pk %}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
                  <a class="edit_btn" href="{% url 'posts:edit_post' post.pk %}">Edit</a>
                </div>
            </div>
        </li>
{% endblock %}
