* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
}

nav ul li a:hover {
    color: #808080;
}

nav button {
    padding: 5px 10px;
    border: none;
    background: rgb(50, 50, 233);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}