* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top: 80px;
    max-width: 800px;
    margin: 80px auto 0;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    background-color: white;
}

nav h1 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(50, 50, 233);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: #808080;
}

nav button {
    padding: 5px 10px;
    border: none;
    background: rgb(50, 50, 233);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form label {
    font-weight: bold;
}

.form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    padding: 10px;
    border: none;
    background: rgb(50, 50, 233);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

footer {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}